amqp==5.0.2
attrs==20.3.0
Babel==2.9.0
billiard==3.6.3.0
celery==5.0.5
celery-flower==1.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
dataclasses==0.8
humanize==3.2.0
idna==2.10
importlib-metadata==3.3.0
iniconfig==1.1.1
joblib==1.0.0
jsonpickle==1.4.2
kombu==5.0.2
numpy==1.19.4
opacus==0.11.0
packaging==20.9
pandas==1.1.5
Pillow==8.0.1
pluggy==0.13.1
prometheus-client==0.8.0
prompt-toolkit==3.0.8
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
pytz==2020.5
redis==3.5.3
requests==2.25.1
scikit-learn==0.24.0
scipy==1.5.4
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
toml==0.10.2
torch==1.7.1
torchcsprng==0.1.4
torchvision==0.8.2
tornado==6.1
tqdm==4.56.0
typing-extensions==3.7.4.3
urllib3==1.26.2
vine==5.0.0
wcwidth==0.2.5
zipp==3.4.0
